<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

  <style>
    :root{
        font-family: Arial, serif;
    }

  </style>
<body>
  <p>Detectamos problemas ao tentar integrar o orçamento abaixo:</p>

  <ul>
    <li><%= "Ordem de compra: #{@budget.purchase_order}" %></li>
  </ul>

  <p>Em caso de dúvidas, entrem em contato com o seu vendedor ou com a nossa central de <br>atendimento: </p>
  <p>Tel: (41) 2105-0055 / Email: sac@volkdobrasil.com.br</p>
  <p>Desejamos uma excelente jornada! </p>
  <p>Volk do Brasil</p>
</body>
</html>